<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>2B13B2DA-D09E-4A02-9D9D-17F6372E02D1_details</key>
	<false/>
	<key>2E124037-1DFD-4F89-A241-9FDA84D41DC7_details</key>
	<false/>
	<key>73AF5F99-7800-4A47-8413-0CA5A3D4DD04_details</key>
	<false/>
	<key>958B335D-F85E-48C8-AC2A-913C7C0C8A5F_details</key>
	<false/>
	<key>985BF7B0-D159-4A9F-8892-738007FA8C50_details</key>
	<true/>
	<key>A111571D-7B29-4440-B82C-81EBDD74C735_details</key>
	<false/>
	<key>A7D6530A-3050-435D-80F6-40B75DB4C460_details</key>
	<false/>
	<key>A9ABC7EF-17E5-438E-896D-457EEAA91D47_details</key>
	<true/>
	<key>Battery_barChart_position</key>
	<integer>1</integer>
	<key>Battery_batteryDetails_position</key>
	<integer>4</integer>
	<key>Battery_battery_additional</key>
	<string>innerPercentage</string>
	<key>Battery_battery_chargerInside</key>
	<true/>
	<key>Battery_battery_hideAdditionalWhenFull</key>
	<false/>
	<key>Battery_battery_position</key>
	<integer>0</integer>
	<key>Battery_battery_xlSize</key>
	<true/>
	<key>Battery_color</key>
	<false/>
	<key>Battery_label_position</key>
	<integer>2</integer>
	<key>Battery_mini_position</key>
	<integer>3</integer>
	<key>Battery_position</key>
	<integer>2</integer>
	<key>Battery_state</key>
	<true/>
	<key>Battery_widget</key>
	<string>battery</string>
	<key>Bluetooth_label_position</key>
	<integer>0</integer>
	<key>Bluetooth_position</key>
	<integer>1</integer>
	<key>Bluetooth_stack_position</key>
	<integer>1</integer>
	<key>Bluetooth_widget</key>
	<string></string>
	<key>CPU_barChart_position</key>
	<integer>0</integer>
	<key>CPU_bar_chart_box</key>
	<false/>
	<key>CPU_bar_chart_frame</key>
	<true/>
	<key>CPU_bar_chart_label</key>
	<false/>
	<key>CPU_clustersGroup</key>
	<false/>
	<key>CPU_hyperhreading</key>
	<false/>
	<key>CPU_label_position</key>
	<integer>1</integer>
	<key>CPU_lineChartHistory</key>
	<integer>300</integer>
	<key>CPU_lineChart_position</key>
	<integer>3</integer>
	<key>CPU_mini_position</key>
	<integer>2</integer>
	<key>CPU_pieChart_position</key>
	<integer>4</integer>
	<key>CPU_position</key>
	<integer>8</integer>
	<key>CPU_processes</key>
	<integer>8</integer>
	<key>CPU_splitValue</key>
	<false/>
	<key>CPU_state</key>
	<true/>
	<key>CPU_tachometer_position</key>
	<integer>5</integer>
	<key>CPU_usagePerCore</key>
	<true/>
	<key>CPU_widget</key>
	<string>bar_chart</string>
	<key>Clock_label_position</key>
	<integer>1</integer>
	<key>Clock_list</key>
	<data>
	W3sibmFtZSI6IkxvY2FsIHRpbWUiLCJpZCI6IjI4QUY2NDVDLTIzQzYtNERENi1BQTQx
	LTIxOEVDMUVBRjU2NSIsInR6IjoibG9jYWwiLCJlbmFibGVkIjp0cnVlLCJmb3JtYXQi
	OiJ5eXl5LU1NLWRkIEhIOm1tOnNzIn1d
	</data>
	<key>Clock_position</key>
	<integer>0</integer>
	<key>Clock_stack_position</key>
	<integer>0</integer>
	<key>Clock_state</key>
	<false/>
	<key>Clock_widget</key>
	<string></string>
	<key>CombinedModules</key>
	<true/>
	<key>CombinedModules_popup</key>
	<false/>
	<key>CombinedModules_separator</key>
	<false/>
	<key>CombinedModules_spacing</key>
	<string>2</string>
	<key>Disk_377D5674-AC54-411E-8B8F-978BBA6DEB7E_popup</key>
	<true/>
	<key>Disk_barChart_position</key>
	<integer>2</integer>
	<key>Disk_label_position</key>
	<integer>1</integer>
	<key>Disk_memory_position</key>
	<integer>4</integer>
	<key>Disk_mini_position</key>
	<integer>3</integer>
	<key>Disk_networkChart_position</key>
	<integer>6</integer>
	<key>Disk_pieChart_position</key>
	<integer>0</integer>
	<key>Disk_pie_chart_label</key>
	<false/>
	<key>Disk_pie_chart_monochrome</key>
	<false/>
	<key>Disk_position</key>
	<integer>4</integer>
	<key>Disk_processes</key>
	<integer>5</integer>
	<key>Disk_reverseOrder</key>
	<false/>
	<key>Disk_speed_position</key>
	<integer>5</integer>
	<key>Disk_state</key>
	<true/>
	<key>Disk_widget</key>
	<string>pie_chart</string>
	<key>E6AE81A0-3DD8-4435-BB57-5B503D92A73B_details</key>
	<true/>
	<key>F3CC8A94-3EF1-43F0-A482-685B90A2EF79_details</key>
	<true/>
	<key>GPU_barChart_position</key>
	<integer>0</integer>
	<key>GPU_bar_chart_box</key>
	<false/>
	<key>GPU_bar_chart_frame</key>
	<true/>
	<key>GPU_bar_chart_label</key>
	<false/>
	<key>GPU_gpu</key>
	<string>automatic</string>
	<key>GPU_label_position</key>
	<integer>1</integer>
	<key>GPU_lineChart_position</key>
	<integer>4</integer>
	<key>GPU_mini_position</key>
	<integer>2</integer>
	<key>GPU_position</key>
	<integer>7</integer>
	<key>GPU_state</key>
	<true/>
	<key>GPU_tachometer_position</key>
	<integer>3</integer>
	<key>GPU_widget</key>
	<string>bar_chart</string>
	<key>LaunchAtLoginNext</key>
	<true/>
	<key>NSOSPLastRootDirectory</key>
	<data>
	Ym9va+wCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAxAEA
	AAQAAAADAwAAAAQAAAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAG1hcmNvAAAACQAAAAEB
	AABEb2N1bWVudHMAAAAMAAAAAQYAABAAAAAgAAAAMAAAAAgAAAAEAwAAHUIAAAAAAAAI
	AAAABAMAAIwTBAAAAAAACAAAAAQDAACQTwQAAAAAAAwAAAABBgAAWAAAAGgAAAB4AAAA
	CAAAAAAEAABBxXEyngAAABgAAAABAgAAAgAAAAAAAAAfAgAAAAAAAB8CAAAAAAAAAAAA
	AAEFAAAIAAAABAMAAAEAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwA
	AAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAUKEbcwAAAAgAAAAABAAAQcZhJICAAAAk
	AAAAAQEAADcwOUU0RUNFLTI2QjQtNEEzMS05N0YxLURFMUVFMzI2MkQyQRgAAAABAgAA
	gQAAAAEAAADvEwAAAQAAAO8TAAABAAAAAQAAAAEBAAAvAAAAMAAAAAECAABkbmliAAAA
	AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABzY29kAgAAAAAAAADwAAAA/v///wEA
	AAAAAAAAEwAAAAQQAABEAAAAAAAAAAUQAACIAAAAAAAAABAQAACsAAAAAAAAAEAQAACc
	AAAAAAAAAAIgAACAAQAAAAAAAAUgAADwAAAAAAAAABAgAAAAAQAAAAAAABEgAAA0AQAA
	AAAAABIgAAAUAQAAAAAAABMgAAAkAQAAAAAAACAgAABgAQAAAAAAADAgAADMAAAAAAAA
	AAHAAADUAAAAAAAAABHAAAAgAAAAAAAAABLAAADkAAAAAAAAAAHQAADMAAAAAAAAABDQ
	AAAEAAAAAAAAABfwAAAwAAAAAAAAACLwAACMAQAAAAAAAA==
	</data>
	<key>NSStatusItem Preferred Position CombinedModules</key>
	<real>359</real>
	<key>NSToolbar Configuration eu.exelban.Stats.Settings.Toolbar</key>
	<dict>
		<key>TB Display Mode</key>
		<integer>1</integer>
		<key>TB Icon Size Mode</key>
		<integer>1</integer>
		<key>TB Is Shown</key>
		<true/>
		<key>TB Size Mode</key>
		<integer>1</integer>
	</dict>
	<key>NSWindow Frame NSNavPanelAutosaveName</key>
	<string>571 599 370 167 0 0 1512 948 </string>
	<key>Network_base</key>
	<string>bit</string>
	<key>Network_chartHistory</key>
	<integer>300</integer>
	<key>Network_position</key>
	<integer>3</integer>
	<key>Network_publicIPRefreshInterval</key>
	<string>24</string>
	<key>Network_state</key>
	<true/>
	<key>Network_usageReset</key>
	<string>At start</string>
	<key>Network_widgetActivationThresholdSize</key>
	<string>KB</string>
	<key>Network_widgetActivationThresholdState</key>
	<false/>
	<key>RAM_barChart_position</key>
	<integer>1</integer>
	<key>RAM_label_position</key>
	<integer>2</integer>
	<key>RAM_lineChartHistory</key>
	<integer>300</integer>
	<key>RAM_lineChart_position</key>
	<integer>0</integer>
	<key>RAM_line_chart_box</key>
	<false/>
	<key>RAM_line_chart_frame</key>
	<true/>
	<key>RAM_line_chart_label</key>
	<false/>
	<key>RAM_line_chart_value</key>
	<false/>
	<key>RAM_line_chart_valueColor</key>
	<false/>
	<key>RAM_memory_position</key>
	<integer>5</integer>
	<key>RAM_mini_position</key>
	<integer>3</integer>
	<key>RAM_pieChart_position</key>
	<integer>4</integer>
	<key>RAM_position</key>
	<integer>6</integer>
	<key>RAM_splitValue</key>
	<true/>
	<key>RAM_state</key>
	<true/>
	<key>RAM_tachometer_position</key>
	<integer>6</integer>
	<key>RAM_text_position</key>
	<integer>7</integer>
	<key>RAM_widget</key>
	<string>line_chart</string>
	<key>Sensor_mini_label</key>
	<true/>
	<key>Sensors_barChart_position</key>
	<integer>3</integer>
	<key>Sensors_fanControl</key>
	<false/>
	<key>Sensors_fanValue</key>
	<string>percentage</string>
	<key>Sensors_fansSync</key>
	<false/>
	<key>Sensors_hid</key>
	<false/>
	<key>Sensors_label_position</key>
	<integer>2</integer>
	<key>Sensors_mini_position</key>
	<integer>1</integer>
	<key>Sensors_oneView</key>
	<false/>
	<key>Sensors_position</key>
	<integer>5</integer>
	<key>Sensors_sensor</key>
	<string>Fastest fan</string>
	<key>Sensors_sensors_mode</key>
	<string>automatic</string>
	<key>Sensors_sensors_monospacedFont</key>
	<true/>
	<key>Sensors_sensors_size</key>
	<false/>
	<key>Sensors_speed</key>
	<false/>
	<key>Sensors_stack_position</key>
	<integer>0</integer>
	<key>Sensors_state</key>
	<true/>
	<key>Sensors_unknown</key>
	<false/>
	<key>Sensors_widget</key>
	<string>sensors</string>
	<key>dockIcon</key>
	<false/>
	<key>fan_0_mode</key>
	<integer>0</integer>
	<key>fan_0_speed</key>
	<integer>2624</integer>
	<key>fan_1_mode</key>
	<integer>0</integer>
	<key>fan_1_speed</key>
	<integer>2317</integer>
	<key>pause</key>
	<false/>
	<key>runAtLoginInitialized</key>
	<true/>
	<key>sensor_Average CPU</key>
	<false/>
	<key>sensor_Average GPU</key>
	<false/>
	<key>sensor_Average System Total</key>
	<false/>
	<key>sensor_F0Ac</key>
	<true/>
	<key>sensor_F1Ac</key>
	<false/>
	<key>sensor_Fastest fan</key>
	<false/>
	<key>sensor_ID0R</key>
	<false/>
	<key>sensor_PDBR</key>
	<false/>
	<key>sensor_PDTR</key>
	<false/>
	<key>sensor_PPBR</key>
	<false/>
	<key>sensor_PSTR</key>
	<false/>
	<key>sensor_TB1T</key>
	<false/>
	<key>sensor_TaLP</key>
	<false/>
	<key>sensor_TaRF</key>
	<false/>
	<key>sensor_Total System Consumption</key>
	<false/>
	<key>sensor_Tp0P</key>
	<false/>
	<key>sensor_VD0R</key>
	<false/>
	<key>sensor_VP0R</key>
	<false/>
	<key>setupProcess</key>
	<true/>
	<key>stack_Average CPU_index</key>
	<integer>2</integer>
	<key>stack_Average GPU_index</key>
	<integer>3</integer>
	<key>stack_F0Ac_index</key>
	<integer>0</integer>
	<key>stack_F1Ac_index</key>
	<integer>1</integer>
	<key>support_ts</key>
	<integer>1756132542</integer>
	<key>telemetry</key>
	<true/>
	<key>temperature_units</key>
	<string>system</string>
	<key>update-interval</key>
	<string>Silent</string>
	<key>updater_check_ts</key>
	<integer>1757975717</integer>
	<key>version</key>
	<string>2.11.52</string>
</dict>
</plist>
